<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- Title -->
    <title>SIMEMAP - HOME</title>

    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="../../favicon.ico" />
    <!-- Google Fonts -->
    <link rel="stylesheet"
        href="//fonts.googleapis.com/css?family=Open+Sans%3A400%2C300%2C500%2C600%2C700%7CPlayfair+Display%7CRoboto%7CRaleway%7CSpectral%7CRubik" />
    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="assets/vendor/bootstrap/bootstrap.min.css" />
    <!-- CSS Global Icons -->
    <link rel="stylesheet" href="assets/vendor/icon-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="assets/vendor/icon-line/css/simple-line-icons.css" />
    <link rel="stylesheet" href="assets/vendor/icon-etlinefont/style.css" />
    <link rel="stylesheet" href="assets/vendor/icon-line-pro/style.css" />
    <link rel="stylesheet" href="assets/vendor/icon-hs/style.css" />
    <link rel="stylesheet" href="assets/vendor/dzsparallaxer/dzsparallaxer.css" />
    <link rel="stylesheet" href="assets/vendor/dzsparallaxer/dzsscroller/scroller.css" />
    <link rel="stylesheet" href="assets/vendor/dzsparallaxer/advancedscroller/plugin.css" />
    <link rel="stylesheet" href="assets/vendor/animate.css" />
    <link rel="stylesheet" href="assets/vendor/fancybox/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="assets/vendor/slick-carousel/slick/slick.css" />
    <link rel="stylesheet" href="assets/vendor/typedjs/typed.css" />
    <link rel="stylesheet" href="assets/vendor/hs-megamenu/src/hs.megamenu.css" />
    <link rel="stylesheet" href="assets/vendor/hamburgers/hamburgers.min.css" />

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="CSS/style.css">

    <!-- CSS Unify -->
    <link rel="stylesheet" href="assets/css/unify-core.css" />
    <link rel="stylesheet" href="assets/css/unify-components.css" />
    <link rel="stylesheet" href="assets/css/unify-globals.css" />

    <!-- CSS Customization -->
    <link rel="stylesheet" href="assets/css/custom.css" />
</head>

<body>
    <main>
        <!-- Header -->
        <header id="js-header" class="u-header u-header--static">
            <div class="u-header__section u-header__section--light g-bg-white g-transition-0_3 g-py-10">
                <nav class="js-mega-menu navbar navbar-expand-lg hs-menu-initialized hs-menu-horizontal">
                    <div class="container">
                        <!-- Responsive Toggle Button -->
                        <button
                            class="navbar-toggler navbar-toggler-right btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-top-minus-3 g-right-0"
                            type="button" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBar"
                            data-toggle="collapse" data-target="#navBar">
                            <span class="hamburger hamburger--slider">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
                            </span>
                        </button>
                        <!-- End Responsive Toggle Button -->
                        <a href="#" class="navbar-brand d-flex">
                            <img src="imgs/logo_menu.png" width="157px" height="62px">
                        </a>

                        <!-- Navigation -->
                        <div class="collapse navbar-collapse align-items-center flex-sm-row g-pt-10 g-pt-5--lg g-mr-40--lg"
                            id="navBar">
                            <ul class="navbar-nav text-uppercase g-pos-rel g-font-weight-600 ml-auto">

                                <!-- HOME -->
                                <!-- <li class="nav-item g-mx-10--lg g-mx-15--xl active"> -->
                                <li class="hs-has-mega-menu nav-item active g-mx-10--lg g-mx-15--xl">
                                    <a href="index.html" class="nav-link g-py-7 g-px-0">HOME</a>
                                </li>
                                <!-- Fim HOME-->

                                <!-- Contatos -->
                                <li class="nav-item g-mx-10--lg g-mx-15--xl">
                                    <a href="index.html" class="nav-link g-py-7 g-px-0">CONTATOS</a>
                                </li>
                                <!-- Fim Contatos -->

                                <!-- Sobre -->
                                <li class="nav-item g-mx-10--lg g-mx-15--xl">
                                    <a href="index.html" class="nav-link g-py-7 g-px-0">SOBRE</a>
                                </li>
                                <!-- End Sobre -->
                            </ul>
                        </div>
                        <!-- End Navigation -->

                        <!-- botão entrar -->

                        <div class="d-inline-block g-hidden-md-down g-pos-rel g-valign-middle g-pl-30 g-pl-0--lg">
                            <a class="btn u-btn-outline-primary g-font-size-13 text-uppercase g-py-10 g-px-15"
                                href="https://dash.simemap.com/home/devices"
                                >Entrar</a>
                        </div>

                    </div>
                </nav>
            </div>
        </header>
        <!-- End Header -->

        <!-- Promo Block -->
        <section
            class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall"
            data-options='{direction: "reverse", settings_mode_oneelement_max_offset: "150"}'>
            <div class="divimage dzsparallaxer--target w-100 g-bg-pos-bottom-center" style="
            height: 120%;
            background-image: url(assets/img-temp/1920x1080/DutchWindmills.jpg);
          "></div>

            <div class="container g-py-200">
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="g-color-white g-font-weight-400 g-font-size-40 g-line-height-1_2 mb-4">
                            Eficiência Energética<br /> IoT a serviço da natureza
                        </h3>
                        <span class="d-block g-font-size-16 mb-5"><mark class="g-bg-primary g-color-white">Otimização do
                                uso energético</mark></span>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Promo Block -->

        <!-- Icon Blocks -->
        <section class="g-py-100">
            <div class="container">
                <div class="row no-gutters">
                    <div class="col-lg-4 g-px-40 g-mb-50 g-mb-0--lg">
                        <!-- Icon Blocks -->
                        <div class="text-center">
                            <span
                                class="d-inline-block u-icon-v3 u-icon-size--xl g-bg-primary g-color-white rounded-circle g-mb-30">
                                <i class="icon-finance-086 u-line-icon-pro"></i>
                            </span>
                            <h3 class="h5 g-color-gray-dark-v2 g-font-weight-600 text-uppercase mb-3">
                                Conforto e segurança
                            </h3>
                            <p class="mb-0">
                                A automação remota de lâmpadas, aparelhos de ar condicionado, portas, máquinas
                                elétricas e fitas Led decorativas, entre outros, traz praticidade e conforto.
                            </p>
                        </div>
                        <!-- End Icon Blocks -->
                    </div>

                    <div class="col-lg-4 g-brd-left--lg g-brd-gray-light-v4 g-px-40 g-mb-50 g-mb-0--lg">
                        <!-- Icon Blocks -->
                        <div class="text-center">
                            <span
                                class="d-inline-block u-icon-v3 u-icon-size--xl g-bg-primary g-color-white rounded-circle g-mb-30">
                                <i class="icon-finance-196 u-line-icon-pro"></i>
                            </span>
                            <h3 class="h5 g-color-gray-dark-v2 g-font-weight-600 text-uppercase mb-3">
                                Monitoramento remoto
                            </h3>
                            <p class="mb-0">
                                É possível saber em detalhes como sua instalação ou equipamento está consumindo
                                recursos valiosos como energia elétrica, água, gás etc.
                            </p>
                        </div>
                        <!-- End Icon Blocks -->
                    </div>

                    <div class="col-lg-4 g-brd-left--lg g-brd-gray-light-v4 g-px-40">
                        <!-- Icon Blocks -->
                        <div class="text-center">
                            <span
                                class="d-inline-block u-icon-v3 u-icon-size--xl g-bg-primary g-color-white rounded-circle g-mb-30">
                                <i class="icon-finance-147 u-line-icon-pro"></i>
                            </span>
                            <h3 class="h5 g-color-gray-dark-v2 g-font-weight-600 text-uppercase mb-3">
                                Economia
                            </h3>
                            <p class="mb-0">
                                Quer evitar supresas desagradáveis na fatura mensal?
                            </p>
                        </div>
                        <!-- End Icon Blocks -->
                    </div>
                </div>
            </div>
        </section>
        <!-- End Icon Blocks -->



        <hr class="g-brd-gray-light-v4 my-0" />

        <!-- Our Environment -->
        <section class="g-py-100">
            <div class="container">
                <div class="row">
                    <!-- Carousel -->
                    <div class="col-lg-6 g-mb-50 g-mb-0--lg">
                        <div id="carouselCus1" class="js-carousel text-center g-mb-20" data-infinite="true"
                            data-lazy-load="progressive"
                            data-arrows-classes="u-arrow-v1 g-absolute-centered--y g-width-50 g-height-50 g-font-size-20 g-bg-white g-color-gray-dark-v5 g-color-primary--hover g-mt-minus-10"
                            data-arrow-left-classes="fa fa-angle-left g-left-0 rounded-right"
                            data-arrow-right-classes="fa fa-angle-right g-right-0 rounded-left"
                            data-nav-for="#carouselCus2">

                            <div class="js-slide">
                                <a class="js-fancybox d-block g-pos-rel" data-rel="lightbox-gallery--08-1"
                                    href="imgs/carrossel-1.jpeg" title="Lightbox Gallery"
                                    data-open-effect="bounceInDown" data-close-effect="bounceOutDown"
                                    data-open-speed="1000" data-close-speed="1000" data-blur-bg="true">
                                    <img class="img-fluid w-100 rounded" data-lazy="imgs/carrossel-1.jpeg"
                                        alt="Image description" width="600" height="450" />
                                </a>
                            </div>

                            <div class="js-slide">
                                <a class="js-fancybox d-block g-pos-rel" data-rel="lightbox-gallery--08-1"
                                    href="imgs/carrossel-2.jpeg" title="Lightbox Gallery"
                                    data-open-effect="bounceInDown" data-close-effect="bounceOutDown"
                                    data-open-speed="1000" data-close-speed="1000" data-blur-bg="true">
                                    <img class="img-fluid w-100 rounded" data-lazy="imgs/carrossel-2.jpeg"
                                        alt="Image description" width="600" height="450" />
                                </a>
                            </div>

                            <div class="js-slide">
                                <a class="js-fancybox d-block g-pos-rel" data-rel="lightbox-gallery--08-1"
                                    href="imgs/carrossel-3.jpeg" title="Lightbox Gallery"
                                    data-open-effect="bounceInDown" data-close-effect="bounceOutDown"
                                    data-open-speed="1000" data-close-speed="1000" data-blur-bg="true">
                                    <img class="img-fluid w-100 rounded" data-lazy="imgs/carrossel-3.jpeg"
                                        alt="Image description" width="600" height="450" />
                                </a>
                            </div>

                            <div class="js-slide">
                                <a class="js-fancybox d-block g-pos-rel" data-rel="lightbox-gallery--08-1"
                                    href="imgs/carrossel-4.jpg" title="Lightbox Gallery" data-open-effect="bounceInDown"
                                    data-close-effect="bounceOutDown" data-open-speed="1000" data-close-speed="1000"
                                    data-blur-bg="true">
                                    <img class="img-fluid w-100 rounded" data-lazy="imgs/carrossel-4.jpg"
                                        alt="Image description" width="600" height="450" />
                                </a>
                            </div>

                            <div class="js-slide">
                                <a class="js-fancybox d-block g-pos-rel" data-rel="lightbox-gallery--08-1"
                                    href="imgs/carrossel-5.jpeg" title="Lightbox Gallery"
                                    data-open-effect="bounceInDown" data-close-effect="bounceOutDown"
                                    data-open-speed="1000" data-close-speed="1000" data-blur-bg="true">
                                    <img class="img-fluid w-100 rounded" data-lazy="imgs/carrossel-5.jpeg"
                                        alt="Image description" width="600" height="450" />
                                </a>
                            </div>

                            <div class="js-slide">
                                <a class="js-fancybox d-block g-pos-rel" data-rel="lightbox-gallery--08-1"
                                    href="imgs/carrossel-6.jpeg" title="Lightbox Gallery"
                                    data-open-effect="bounceInDown" data-close-effect="bounceOutDown"
                                    data-open-speed="1000" data-close-speed="1000" data-blur-bg="true">
                                    <img class="img-fluid w-100 rounded" data-lazy="imgs/carrossel-6.jpeg"
                                        alt="Image description" width="600" height="450" />
                                </a>
                            </div>


                        </div>

                        <div id="carouselCus2" class="js-carousel text-center u-carousel-v3 g-mx-minus-10"
                            data-infinite="true" data-center-mode="true" data-lazy-load="progressive"
                            data-slides-show="4" data-is-thumbs="true" data-nav-for="#carouselCus1">
                            <div class="js-slide g-px-10">
                                <img class="img-fluid g-cursor-pointer rounded" data-lazy="imgs/carrossel-1.jpeg"
                                    alt="Image description" />
                            </div>

                            <div class="js-slide g-px-10">
                                <img class="img-fluid g-cursor-pointer rounded" data-lazy="imgs/carrossel-2.jpeg"
                                    alt="Image description" />
                            </div>

                            <div class="js-slide g-px-10">
                                <img class="img-fluid g-cursor-pointer rounded" data-lazy="imgs/carrossel-3.jpeg"
                                    alt="Image description" />
                            </div>

                            <div class="js-slide g-px-10">
                                <img class="img-fluid g-cursor-pointer rounded" data-lazy="imgs/carrossel-4.jpg"
                                    alt="Image description" />
                            </div>

                            <div class="js-slide g-px-10">
                                <img class="img-fluid g-cursor-pointer rounded" data-lazy="imgs/carrossel-5.jpeg"
                                    alt="Image description" />
                            </div>

                            <div class="js-slide g-px-10">
                                <img class="img-fluid g-cursor-pointer rounded" data-lazy="imgs/carrossel-6.jpeg"
                                    alt="Image description" />
                            </div>


                        </div>
                    </div>
                    <!-- End Carousel -->

                    <!-- Section Content -->
                    <div class="col-lg-6 align-self-center g-pl-30--lg">
                        <header class="g-mb-30">
                            <div class="u-heading-v2-3--bottom g-brd-primary g-mb-30">
                                <h2
                                    class="h4 u-heading-v2__title g-color-gray-dark-v2 g-font-weight-600 text-uppercase">
                                    Alguns produtos já disponíveis:
                                </h2>
                            </div>
                            <p class="g-font-size-16">
                                <!-- <strong>creative</strong> -->
                                - Módulos de automação para portas com comunicação WiFi e LoRa 915 MHz. Opções com
                                antena externa ou em PCB.
                            </p>
                            <p class="g-font-size-16">
                                - Módulos de desenvolvimento para <strong>mentes criativas</strong>. Facilidade de
                                programação através do ambiente Arduino IDE.
                            </p>
                            <p class="g-font-size-16">
                                - Controle de fitas de LED decorativas para piscinas e outros ambientes.
                            </p>
                        </header>

                        <div class="g-mb-30">
                            <p>
                                Diferentes configurações, conforme a demanda do cliente.
                            </p>

                        </div>

                    </div>
                    <!-- End Section Content -->
                </div>
            </div>
        </section>
        <!-- End Our Environment -->

        <hr class="g-brd-gray-light-v4 my-0" />

        <!-- About Our Company -->
        <section class="1g-bg-secondary g-py-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 align-self-center g-mb-100 g-mb-0--lg">
                        <header class="u-heading-v2-3--bottom g-brd-primary g-mb-20">
                            <h2 class="h4 u-heading-v2__title g-color-gray-dark-v2 g-font-weight-600 text-uppercase">
                                Características gerais
                            </h2>
                        </header>

                        <p class="g-font-size-16 g-mb-30">
                            Todos os produtos são desenvolvidos pela equipe SIMEMAP. Isto inclui pesquisa, escolha de
                            componentes, layout de PCBs, montagem, programação embarcada e remota.
                        </p>

                        <ul class="list-unstyled g-color-gray-dark-v4 mb-0">
                            <li class="d-flex g-mb-10">
                                <i class="icon-check g-color-primary g-mt-5 g-mr-10"></i>
                                Módulo de comunicação WiFI certificado pela ANATEL
                            </li>
                            <li class="d-flex g-mb-10">
                                <i class="icon-check g-color-primary g-mt-5 g-mr-10"></i>
                                Arquitetura de computação baseada na AWS Cloud
                            </li>
                            <li class="d-flex g-mb-10">
                                <i class="icon-check g-color-primary g-mt-5 g-mr-10"></i>
                                Certificados de Segurança AWS
                            </li>
                            <li class="d-flex g-mb-10">
                                <i class="icon-check g-color-primary g-mt-5 g-mr-10"></i>
                                IoT para uso Empresarial e Residencial
                            </li>
                            </li>
                            <li class="d-flex g-mb-10">
                                <i class="icon-check g-color-primary g-mt-5 g-mr-10"></i>
                                GSM dedicado, WiFi, LoRa, Bluetooth, Bluetooth Low Energy & BLE Mesh Networking
                            </li>
                            <li class="d-flex g-mb-10">
                                <i class="icon-check g-color-primary g-mt-5 g-mr-10"></i>
                                Algoritmos de monitoramento de qualidade energética
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-6 g-bg-img-hero g-pos-rel"
                        style="background-image: url(assets/img/maps/map3.png);">
                        <div class="g-absolute-centered text-center w-100 g-px-40">
                            <h2 class="h1 g-color-gray-light-v2 g-font-weight-600 g-letter-spacing-0_5">
                                SIMEMAP é
                                <span class="u-text-animation u-text-animation--typing"></span>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End About Our Company -->

        <!-- Counters -->
        <!-- <section class="g-brd-top g-brd-bottom g-brd-gray-light-v4 g-pt-50">
            <div class="container">
                <div class="row text-center text-uppercase">
                    <div class="col-lg-3 col-sm-6 g-brd-right g-brd-gray-light-v4 g-mb-50">
                        <div class="js-counter g-color-gray-dark-v2 g-font-size-35 g-font-weight-300 g-mb-7">
                            +50
                        </div>
                        <h4 class="h6 g-color-gray-dark-v5">Clientes Satisfeitos</h4>
                    </div>

                    <div class="col-lg-3 col-sm-6 g-brd-right--lg g-brd-gray-light-v4 g-mb-50">
                        <div class="js-counter g-color-gray-dark-v2 g-font-size-35 g-font-weight-300 g-mb-7">
                            +250
                        </div>
                        <h4 class="h6 g-color-gray-dark-v5">Dispositivos Conectados</h4>
                    </div>

                    <div class="col-lg-3 col-sm-6 g-brd-right g-brd-gray-light-v4 g-mb-50">
                        <div class="js-counter g-color-gray-dark-v2 g-font-size-35 g-font-weight-300 g-mb-7">
                            1.5 M
                        </div>
                        <h4 class="h6 g-color-gray-dark-v5">Mensagens Diárias</h4>
                    </div>

                    <div class="col-lg-3 col-sm-6 g-mb-50">
                        <div class="js-counter g-color-gray-dark-v2 g-font-size-35 g-font-weight-300 g-mb-7">
                            87904
                        </div>
                        <h4 class="h6 g-color-gray-dark-v5">Job Offers</h4>
                    </div>
                </div>
            </div>
        </section> -->
        <!-- End Counters -->

        <!-- Latest News -->
        <!-- <section class="g-py-100">
            <div class="container">
                <header class="g-mb-50">
                    <div class="u-heading-v2-3--bottom g-brd-primary g-mb-20">
                        <h2 class="h4 u-heading-v2__title g-color-gray-dark-v2 g-font-weight-600 text-uppercase">
                            Últimas notícias
                        </h2>
                    </div>
                    <p class="g-font-size-16">
                        Nosso canal de comunicação.
                    </p>
                </header> -->

                <!-- <div class="row">
                    <div class="col-lg-4 g-mb-30 g-mb-0--lg"> -->
                        <!-- Article -->
                        <!-- <article class="u-shadow-v11 rounded">
                            <div class="g-pa-30">
                                <h3 class="g-font-weight-300 g-mb-15">
                                    <a class="u-link-v5 g-color-gray-dark-v2 g-color-primary--hover"
                                        href="#">Implementação de Criptografia no LoRa</a>
                                </h3>
                                <p>
                                    A tecnologia LoRa permite a comunicação de pqeuenos fluxos de dados em longas
                                    distâncias,
                                    com consumo reduzido de enrgia. É ideal para aplicações IoT. Os novos produtos
                                    criados pela Simemap
                                    já utilizam este recurso, com criptografia AES 128 bits entre os nós de comunicação.
                                </p>
                            </div> -->

                            <!-- <div class="media g-font-size-12 g-brd-top g-brd-gray-light-v4 g-pa-15-30">
                                <img class="d-flex mr-2 rounded-circle g-width-20 g-height-20"
                                    src="assets/img-temp/100x100/img5.jpg" alt="Image description" />
                                <div class="media-body align-self-center">
                                    <a class="u-link-v5 g-color-gray-dark-v2 g-color-primary--hover" href="#">Marcus
                                        André</a>
                                </div>

                                <div class="align-self-center">
                                    <a class="u-link-v5 g-color-gray-dark-v2 g-color-primary--hover g-mr-10" href="#">
                                        <i class="icon-bubbles g-color-gray-dark-v5 g-pos-rel g-top-1 mr-1"></i>
                                        24
                                    </a>
                                    <a class="u-link-v5 g-color-gray-dark-v2 g-color-primary--hover" href="#">
                                        <i class="icon-eye g-color-gray-dark-v5 g-pos-rel g-top-1 mr-1"></i>
                                        108
                                    </a>
                                </div>
                            </div>
                        </article> -->
                        <!-- End Article -->
                    <!-- </div> -->

                    <!-- <div class="col-lg-4 g-mb-30 g-mb-0--lg">
                        <article class="u-shadow-v11 rounded">
                            <div class="g-pa-30">
                                <h3 class="g-font-weight-300 g-mb-15">
                                    <a class="u-link-v5 g-color-gray-dark-v2 g-color-primary--hover" href="#">Placas de
                                        desenvolvimento
                                        para o mundo Maker!
                                    </a>
                                </h3>
                                <p>
                                    Placas de desenvolvimento para hobbystas e projetistas profissionais. Projeto open
                                    source,
                                    com conexão USB-C.
                                </p>
                            </div>

                            <div class="media g-font-size-12 g-brd-top g-brd-gray-light-v4 g-pa-15-30">
                                <img class="d-flex mr-2 rounded-circle g-width-20 g-height-20"
                                    src="assets/img-temp/100x100/img4.jpg" alt="Image description" />
                                <div class="media-body align-self-center">
                                    <a class="u-link-v5 g-color-gray-dark-v2 g-color-primary--hover" href="#">Marcus
                                        André</a>
                                </div>

                                <div class="align-self-center">
                                    <a class="u-link-v5 g-color-gray-dark-v2 g-color-primary--hover g-mr-10" href="#">
                                        <i class="icon-bubbles g-color-gray-dark-v5 g-pos-rel g-top-1 mr-1"></i>
                                        16
                                    </a>
                                    <a class="u-link-v5 g-color-gray-dark-v2 g-color-primary--hover" href="#">
                                        <i class="icon-eye g-color-gray-dark-v5 g-pos-rel g-top-1 mr-1"></i>
                                        124
                                    </a>
                                </div>
                            </div>
                        </article>
                    </div> -->

                    <!-- <div class="col-lg-4">
                        <article class="u-shadow-v11 rounded">
                            <div class="g-pa-30">
                                <h3 class="g-font-weight-300 g-mb-15">
                                    <a class="u-link-v5 g-color-gray-dark-v2 g-color-primary--hover"
                                        href="#">Homologação Anatel</a>
                                </h3>
                                <p>
                                    Saiu! Anatel publica parecer final, homologando o microcontrolador ESP32-WROOM-32
                                    para uso nos produtos Simemap.
                                </p>
                            </div>

                            <div class="media g-font-size-12 g-brd-top g-brd-gray-light-v4 g-pa-15-30">
                                <img class="d-flex mr-2 rounded-circle g-width-20 g-height-20"
                                    src="assets/img-temp/100x100/img7.jpg" alt="Image description" />
                                <div class="media-body align-self-center">
                                    <a class="u-link-v5 g-color-gray-dark-v2 g-color-primary--hover" href="#">Marcus
                                        André</a>
                                </div>

                                <div class="align-self-center">
                                    <a class="u-link-v5 g-color-gray-dark-v2 g-color-primary--hover g-mr-10" href="#">
                                        <i class="icon-bubbles g-color-gray-dark-v5 g-pos-rel g-top-1 mr-1"></i>
                                        41
                                    </a>
                                    <a class="u-link-v5 g-color-gray-dark-v2 g-color-primary--hover" href="#">
                                        <i class="icon-eye g-color-gray-dark-v5 g-pos-rel g-top-1 mr-1"></i>
                                        219
                                    </a>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </section> -->
        <!-- End Latest News -->

        <section class="g-py-100">
            <div class="container">
                <header class="g-mb-50">
                    <div class="u-heading-v2-3--bottom g-brd-primary g-mb-20">
                        <h2 class="h4 u-heading-v2__title g-color-gray-dark-v2 g-font-weight-600 text-uppercase">
                            estudos de caso
                        </h2>
                    </div>
                </header>
            </div>
        </section>

        <!-- Call To Action -->
        <section class="g-bg-primary g-color-white g-pa-30" style="background-image: url(assets/img/bg/pattern5.png);">
            <div class="d-md-flex justify-content-md-center text-center">
                <div class="align-self-md-center">
                    <p class="lead g-font-weight-400 g-mr-20--md g-mb-15 g-mb-0--md">
                        Projetos IoT sob demanda
                    </p>
                </div>
                <!-- botão -->
                <!-- <div class="align-self-md-center">
                    <a class="btn btn-lg u-btn-white text-uppercase g-font-weight-600 g-font-size-12" target="_blank"
                        href="https://wrapbootstrap.com/theme/unify-responsive-website-template-WB0412697?ref=htmlstream">Purchase
                        Now</a>
                </div> -->
            </div>
        </section>
        <!-- End Call To Action -->

        <!-- Footer -->
        <div id="contacts-section" class="g-bg-black-opacity-0_9 g-color-white-opacity-0_8 g-py-60">
            <div class="container">
                <div class="row">
                    <!-- Footer Content -->
                    <div class="col-lg-3 col-md-6 g-mb-40 g-mb-0--lg">
                        <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
                            <h2 class="u-heading-v2__title h6 text-uppercase mb-0">
                                Sobre a Simemap
                            </h2>
                        </div>
                        <p>
                            A Simemap é uma startup que desenvolve seus próprios produtos,
                            incluindo Hardware e Software com ferramentas modernas de IoT.
                            Seja para instalações residenciais ou não-residenciais, você pode monitorar
                            e controlar seus equipamentos a partir do seu smartphone ou computador pessoal.
                        </p>
                    </div>
                    <!-- End Footer Content -->

                    <!-- Footer Content -->
                    <div class="col-lg-3 col-md-6 g-mb-40 g-mb-0--lg">
                        <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
                            <h2 class="u-heading-v2__title h6 text-uppercase mb-0">
                                Principais características
                            </h2>
                        </div>

                        <article>
                            <h3 class="h6 g-mb-2">
                                <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#">Monitoramento</a>
                            </h3>
                            <div class="small g-color-white-opacity-0_6">Consumo de energia elétrica ou água,
                                temperatura ou outras informações relevantes.</div>
                        </article>

                        <hr class="g-brd-white-opacity-0_1 g-my-10" />

                        <article>
                            <h3 class="h6 g-mb-2">
                                <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#">Automação</a>
                            </h3>
                            <div class="small g-color-white-opacity-0_6">Agendamento de eventos</div>
                        </article>

                        <hr class="g-brd-white-opacity-0_1 g-my-10" />

                        <article>
                            <h3 class="h6 g-mb-2">
                                <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#">Pesquisa e
                                    Inovação</a>
                            </h3>
                            <div class="small g-color-white-opacity-0_6">
                                Simemap é a primeira empresa incubada nascida no IFTO. É fruto de pesquisa acadêmica
                                iniciada em 2016, e busca trazer também a alunos do Instituto Federal
                                oportunidades de conhecer novas tecnologias.
                            </div>
                        </article>
                    </div>
                    <!-- End Footer Content -->

                    <!-- Footer Content -->
                    <div class="col-lg-3 col-md-6 g-mb-40 g-mb-0--lg">
                        <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
                            <h2 class="u-heading-v2__title h6 text-uppercase mb-0">
                                Saiba mais
                            </h2>
                        </div>

                        <nav class="text-uppercase1">
                            <ul class="list-unstyled g-mt-minus-10 mb-0">
                                <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
                                    <h4 class="h6 g-pr-20 mb-0">
                                        <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#">Sobre</a>
                                        <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
                                    </h4>
                                </li>
                                <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
                                    <h4 class="h6 g-pr-20 mb-0">
                                        <a class="g-color-white-opacity-0_8 g-color-white--hover"
                                            href="#">Características</a>
                                        <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
                                    </h4>
                                </li>
                                <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
                                    <h4 class="h6 g-pr-20 mb-0">
                                        <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#">Serviços</a>
                                        <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
                                    </h4>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!-- End Footer Content -->

                    <!-- Footer Content -->
                    <div class="col-lg-3 col-md-6">
                        <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
                            <h2 class="u-heading-v2__title h6 text-uppercase mb-0">
                                Contate-nos!
                            </h2>
                        </div>

                        <address class="g-bg-no-repeat g-font-size-12 mb-0"
                            style="background-image: url(assets/img/maps/map2.png);">
                            <!-- Location -->
                            <div class="d-flex g-mb-20">
                                <div class="g-mr-10">
                                    <span
                                        class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
                                        <i class="fa fa-map-marker"></i>
                                    </span>
                                </div>
                                <p class="mb-0">
                                    Bloco 11, IFTO, <br />
                                    Palmas, TO - Brasil
                                </p>
                            </div>
                            <!-- End Location -->

                            <!-- Phone -->
                            <div class="d-flex g-mb-20">
                                <div class="g-mr-10">
                                    <span
                                        class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
                                        <i class="fa fa-phone"></i>
                                    </span>
                                </div>
                                <p class="mb-0">
                                    (63) 98494 3041
                                </p>
                            </div>
                            <!-- End Phone -->

                            <!-- Email and Website -->
                            <div class="d-flex g-mb-20">
                                <div class="g-mr-10">
                                    <span
                                        class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
                                        <i class="fa fa-globe"></i>
                                    </span>
                                </div>
                                <p class="mb-0">
                                    <a class="g-color-white-opacity-0_8 g-color-white--hover"
                                        href="mailto:info@htmlstream.com">simemap@simemap.com</a>
                                    <br />
                                    <a class="g-color-white-opacity-0_8 g-color-white--hover"
                                        href="#">www.simemap.com</a>
                                </p>
                            </div>
                            <!-- End Email and Website -->
                        </address>
                    </div>
                    <!-- End Footer Content -->
                </div>
            </div>
        </div>
        <!-- End Footer -->

        <!-- Copyright Footer -->
        <footer class="g-bg-gray-dark-v1 g-color-white-opacity-0_8 g-py-20">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 text-center text-md-left g-mb-10 g-mb-0--md">
                        <div class="d-lg-flex">
                            <small class="d-block g-font-size-default g-mr-10 g-mb-10 g-mb-0--md">2020 &copy; Todos os
                                direitos reservados.</small>
                            <ul class="u-list-inline">
                                <li class="list-inline-item">
                                    <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#">Privacy
                                        Policy</a>
                                </li>
                                <li class="list-inline-item">
                                    <span>|</span>
                                </li>
                                <li class="list-inline-item">
                                    <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#">Termos de uso</a>
                                </li>
                                <li class="list-inline-item">
                                    <span>|</span>
                                </li>
                                <li class="list-inline-item">
                                    <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#">Licença</a>
                                </li>
                                <li class="list-inline-item">
                                    <span>|</span>
                                </li>
                                <li class="list-inline-item">
                                    <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#">Suporte</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-4 align-self-center">
                        <ul class="list-inline text-center text-md-right mb-0">
                            <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top"
                                title="Facebook">
                                <a href="#" class="g-color-white-opacity-0_5 g-color-white--hover">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top"
                                title="Skype">
                                <a href="#" class="g-color-white-opacity-0_5 g-color-white--hover">
                                    <i class="fa fa-skype"></i>
                                </a>
                            </li>
                            <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top"
                                title="Linkedin">
                                <a href="#" class="g-color-white-opacity-0_5 g-color-white--hover">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                            <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top"
                                title="Pinterest">
                                <a href="#" class="g-color-white-opacity-0_5 g-color-white--hover">
                                    <i class="fa fa-pinterest"></i>
                                </a>
                            </li>
                            <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top"
                                title="Twitter">
                                <a href="#" class="g-color-white-opacity-0_5 g-color-white--hover">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top"
                                title="Dribbble">
                                <a href="#" class="g-color-white-opacity-0_5 g-color-white--hover">
                                    <i class="fa fa-dribbble"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End Copyright Footer -->
        <a class="js-go-to u-go-to-v1" href="#" data-type="fixed" data-position='{
     "bottom": 15,
     "right": 15
   }' data-offset-top="400" data-compensation="#js-header" data-show-effect="zoomIn">
            <i class="hs-icon hs-icon-arrow-top"></i>
        </a>
    </main>

    <div class="u-outer-spaces-helper"></div>

    <!-- JS Global Compulsory -->
    <script src="assets/vendor/jquery/jquery.min.js"></script>
    <script src="assets/vendor/jquery-migrate/jquery-migrate.min.js"></script>
    <script src="assets/vendor/popper.js/popper.min.js"></script>
    <script src="assets/vendor/bootstrap/bootstrap.min.js"></script>

    <!-- JS Implementing Plugins -->
    <script src="assets/vendor/hs-megamenu/src/hs.megamenu.js"></script>
    <script src="assets/vendor/dzsparallaxer/dzsparallaxer.js"></script>
    <script src="assets/vendor/dzsparallaxer/dzsscroller/scroller.js"></script>
    <script src="assets/vendor/dzsparallaxer/advancedscroller/plugin.js"></script>
    <script src="assets/vendor/fancybox/jquery.fancybox.min.js"></script>
    <script src="assets/vendor/slick-carousel/slick/slick.js"></script>
    <script src="assets/vendor/typedjs/typed.min.js"></script>

    <!-- JS Unify -->
    <script src="assets/js/hs.core.js"></script>
    <script src="assets/js/components/hs.header.js"></script>
    <script src="assets/js/helpers/hs.hamburgers.js"></script>
    <script src="assets/js/components/hs.tabs.js"></script>
    <script src="assets/js/components/hs.popup.js"></script>
    <script src="assets/js/components/hs.carousel.js"></script>
    <script src="assets/js/components/text-animation/hs.text-slideshow.js"></script>
    <script src="assets/js/components/hs.go-to.js"></script>

    <!-- JS Customization -->
    <script src="assets/js/custom.js"></script>

    <!-- JS Plugins Init. -->
    <script>
        $(document).on("ready", function () {
            // initialization of carousel
            $.HSCore.components.HSCarousel.init(".js-carousel");

            // initialization of tabs
            $.HSCore.components.HSTabs.init('[role="tablist"]');

            // initialization of popups
            $.HSCore.components.HSPopup.init(".js-fancybox");

            // initialization of go to
            $.HSCore.components.HSGoTo.init(".js-go-to");

            // initialization of text animation (typing)
            $(".u-text-animation.u-text-animation--typing").typed({
                strings: [
                    "automação e monitoramento",
                    "eficiência energética",
                    "economia 4.0",
                    "internet das coisas",
                ],
                typeSpeed: 60,
                loop: true,
                backDelay: 1500,
            });
        });

        $(window).on("load", function () {
            // initialization of header
            $.HSCore.components.HSHeader.init($("#js-header"));
            $.HSCore.helpers.HSHamburgers.init(".hamburger");

            // initialization of HSMegaMenu component
            $(".js-mega-menu").HSMegaMenu({
                event: "hover",
                pageContainer: $(".container"),
                breakpoint: 991,
            });
        });

        $(window).on("resize", function () {
            setTimeout(function () {
                $.HSCore.components.HSTabs.init('[role="tablist"]');
            }, 200);
        });
    </script>
</body>

</html>